<footer class="footer">
  <div class="container">
      <p>Leandro Lourenço |
        <a href="https://twitter.com/leandrohlsilva">@leandrohlsilva</a> |
         <a href="parallaxis.com.br">Parallaxis.com.br</a></p>
  </div>
</footer>