<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Gerencie as notícias</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      Escolha uma fonte:
      <select ng-model="selectedSource" ng-options="source.name for source in sources">
      </select>
    </div>
  </div>
  <div class="row" ng-show="news.length">
    <div class="col-lg-12">
      <table class="table table-striped">
        <tr>
          <th></th>
          <th>Texto</th>
          <th>Fonte</th>
          <th>Data</th>
          <th></th>
        </tr>
      <tr ng-repeat="snews in news">
        <td>
          <button ng-repeat="label in selectedSource.labels" type="button" class="btn btn-default" ng-class="{true: 'btn-success', false:''}[snews.pred_label == label]">{{label}}</button>
        </td>
        <td>
          <a href="{{snews.link}}" target="_blank">
            <h4 class="media-heading">{{snews.title}}</h4>
            {{snews.description}}
          </a>
        </td>
        <td>{{snews.source}}</td>
        <td>{{snews.date*1000 | date:'dd/MM/yyyy HH:mm'}}</td>
        <td><button type="button" class="close" ng-click="deleteTestimonial(snews)">&times;</button></td>
      </tr>
      </table>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>