<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Fontes:</h1>
      <table class="table table-striped">
        <tr>
        <th>Nome da fonte</th>
        </tr>
        <tr ng-repeat="thing in awesomeThings">
          <td><a href="" tooltip="{{thing.link}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></td>
        </tr>
      </table>
    </div>
  </div>

  <form class="thing-form">
    <label>Adicione rapidamente:</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Adicione o nome da empresa aqui" ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Adicionar</button>
      </span>
    </p>
  </form>
</div>

<div ng-include="'components/footer/footer.html'"></div>