$logo:url('');
$logoWidth: 33px;
$logoHeight: 41px;

#navbar-brand-logo {
    /* background-image: $logo; */
    text-indent: -999em;
    width: $logoWidth;
    height: $logoHeight;
}

.navbar-default {
	background-color: #FFFFFF;
}