<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Bem-vindo ao site de gerenciamento de notícias!</h1>
    <p class="lead">Aqui você terá acesso às notícias e relatórios das fontes cadastradas.</p>
    <img src="assets/images/manchetometro_logo.png" alt="Espaço Ética">
  </div>
</header>

<div ng-include="'components/footer/footer.html'"></div>