<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Gerencie suas pesquisas</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Crie nova pesquisa</button>
    </div>
  </div>
  <div class="row" ng-show="researches.length">
    <div class="col-lg-12">
      <table class="table table-striped">
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Fontes</th>
          <th>Classificações</th>
        </tr>
      <tr ng-repeat="research in researches">
        <td>{{research.name}}</td>
        <td>{{research.description}}</td>
        <td>{{research.sources}}</td>
        <td>{{research.classifications}}</td>
        <td><button type="button" class="close" ng-click="deleteResearch(research)">&times;</button></td>
      </tr>
      </table>
    </div>
  </div>
  <div class="row" ng-hide="researches.length">
    <div class="col-lg-12">
      <p>Não há pesquisas cadastradas.</p>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg" ng-init="modalRendering=true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Adicionar nova pesquisa</h4>
            </div>
            <form role="form">
                <div class="modal-body">
                    <form class="thing-form">
                      <label>Adicione:</label>
                      <p class="input-group">
                        <textarea rows="5" cols="70" class="form-control" placeholder="Adicione o discurso aqui" ng-model="newResearch.text"></textarea>
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-primary" ng-click="addResearch()">Adicionar</button>
                        </span>
                      </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="close()">Fechar</button>
                    <button class="btn btn-primary" ng-click="save()">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>