<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Relatórios</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      Escolha uma fonte:
      <select ng-model="selectedSource" ng-options="source.name for source in sources">
      </select>
    </div>
  </div>
  <div ng-show="selectedSource">
	  <div class="row">
	    <div class="col-lg-4">
	      Resumo da fonte
	    </div>
	    <div class="col-lg-8">
	      <h4 class="text-center">Distribuição das Valências</h4>
	      <d3chart chart-id="distributionId2" data="distributionData" type="pie" height="400"></d3chart>
	    </div>
	  </div>
	  <div class="row">
	  	<div class="col-lg-6">
	  		<h4 class="text-center">Distribuição ao longo do tempo</h4>
	  		<d3chart chart-id="distributionId3" data="multiBarData" type="multiBar" height="400"></d3chart>
	  	</div>
	  	<div class="col-lg-6">
	  		<h4 class="text-center">Distribuição por localidade</h4>
	  		<d3chart chart-id="distributionId4" data="multiBarHorizontalData" type="multiBarHorizontal" height="400"></d3chart>
	  	</div>
	  </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>